{%  extends 'base.html' %}
{% block title %}
    Rose-Hulman ChE Lab
{% endblock %}

{% block body %}
    <br>
    <br>
    <center>
    <h3>Fill in the following fields to download your data</h3>

    </center>
    <br>
    <form action = "{{ url_for('download') }}" method = "post">
        <br>
        <center>
        <select id="project" name="project" required onchange="buttonchange()">
            <option value="">Select your Project</option>

            <option value="100">100 - Filter Press</option>
            <option value="150">150 - Reverse Osmosis</option>
            <option value="200">200 - Corning Column</option>
            <option value="250">250 - Agitated Tank</option>
            <option value="300">300 - Fluid Flow</option>
            <option value="400">400 - Instrumentation and Control</option>
            <option value="500">500 - Tubular Reactor</option>
            <option value="525">525 - Process Analytics</option>
            <option value="650">650 - Cooling Tower</option>
            <option value="700">700 - Control Pump</option>
            <option value="750">750 - Tray Dryer</option>
            <option value="800">800 - Multipass HX</option>
            <option value="900">900 - Fluidized Bed</option>


        </select>
        </center>

        <br>

        <center>
        <label for="start">Date:</label>
        <input type="date" id="start" name="start" min="2000-01-01" max="2100-01-01" required onchange="buttonchange()">
        </center>

        <br>

        <center>
        <label for="starttime">Start Time:</label>
        <input type="time" id="starttime" name="starttime" min="0:00" max="23:59" required onchange="buttonchange()">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="endtime">End time:</label>
        <input type="time" id="endtime" name="endtime" min="0" max="23:59" required onchange="buttonchange()">

        </center>
        <br>

        <center>
            <select id="interval" name="interval" required onchange="buttonchange()">
                <option value="">Select your time interval</option>
                <option value="1s">1 Second</option>
                <option value="5s">5 Seconds</option>
                <option value="10s">10 Seconds</option>
                <option value="30s">30 Seconds</option>
            </select>
        </center>
        <br>
        <br>
        <br>
        <center>
            <h5><input id="submitbutton" type="submit" value="Download Data" disabled=""></h5>
        </center>
    </form>

    <style>
        body{
            background-color: #212121;
            color: white
        }
    </style>


    <script type="text/javascript">
        function buttonchange(){
            var submitbutton = document.getElementById("submitbutton");
            var button_Count = 0;
            if (document.getElementById("starttime").value < document.getElementById("endtime").value) {
                button_Count = button_Count + 1;
            }
            if (document.getElementById("interval").value != "") {
                button_Count = button_Count + 1;
            }
            if (document.getElementById("project").value != "") {
                button_Count = button_Count + 1;
                console.log(document.getElementById("project").selected)
            }
            if (document.getElementById("start").value != "") {
                button_Count = button_Count + 1;
            }
            if (button_Count == 4) {
                submitbutton.disabled = false;
            } else {
                submitbutton.disabled = true;
            }
        }
    </script>

    <center>
    <br><br>Written by Eddie Barry (RHIT ChE Class of 2022) and Dr. Dave
    <br><br>Redesigned by Andrew Sander (RHIT ChE Class of 2026) and Benjamin Homan (RHIT ChE Class of 2025)
    <br><br>Direct downloads are available at the /csv endpoint.
    </center>

{% endblock %}