{%  extends 'base.html' %}
{% block title %}
    Rose-Hulman ChE Lab
{% endblock %}

{% block body %}
    <br>
    <br>
    <center>
    <h3>Select the following Instruments you would like to collect data from.</h3>
    </center>

    <br>
    <br>

    <center>
    <h3>Project Area-{{ project }} Insruments:</h3>
    </center>




    <br>
    <form action = "{{ url_for('download2') }}" method = "POST">
        <center>
        <select id="project" name="project" required hidden>
                <option value="{{ project }}">Project Area {{ project }}</option>
            </select>
        </center>
        <center>
         <div style="display:inline-block; text-align: left;" id="instruments">
        {% for option in options %}
            <label>
                <input type="checkbox" name="instruments" value="{{ option }}" onchange="buttonchange()">
                {{ option }}
            </label><br>
        {% endfor %}
    </div>
        <br>
        <button type="button" onclick="toggleCheckboxes()">Check All</button>
        </center>

        <br>
        <br>
    <center>
    <h3>Input the time period and frequency of the data collection.</h3>
    </center>
        <br>
        <br>

        <center>
        <label for="start">Date:</label>
        <input type="date" id="start" name="start" min="2000-01-01" max="2100-01-01" required>
        </center>

        <br>

        <center>
        <label for="starttime">Start Time:</label>
        <input type="time" id="starttime" name="starttime" min="0:00" max="23:59" required onchange="buttonchange()">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="endtime">End time:</label>
        <input type="time" id="endtime" name="endtime" min="0" max="23:59" required onchange="buttonchange()">
        </center>

        <br>
        <center>
            <select id="interval" name="interval" required onchange="buttonchange()">
                <option value="">Select your time interval</option>
                <option value="1s">1 Second</option>
                <option value="5s">5 Seconds</option>
                <option value="10s">10 Seconds</option>
                <option value="30s">30 Seconds</option>
            </select>
        </center>

        <br>
        <br>
        <br>

        <center>
            <h5><input id="submitbutton" type="submit" value="Download Data" disabled=""></h5>
        </center>

    </form>

    <style>
        body{
            background-color: #212121;
            color: white
        }
    </style>


    <script type="text/javascript">
        var project = "{{ project }}";
        function buttonchange(){
            var submitbutton = document.getElementById("submitbutton");
            var button_Count = 0;
            if (document.getElementById("starttime").value < document.getElementById("endtime").value) {
                button_Count = button_Count + 1;
            }
            if (document.getElementById("interval").value != "") {
                button_Count = button_Count + 1;
            }
            if (document.getElementById("instruments").value != "") {
                button_Count = button_Count + 1;
                console.log(document.getElementById("instruments").selected)
            }
            if (document.getElementById("start").value != "") {
                button_Count = button_Count + 1;
            }
            if (button_Count == 4) {
                submitbutton.disabled = false;
            } else {
                submitbutton.disabled = true;
            }
        }
        let allChecked = false;

        function toggleCheckboxes() {
            const checkboxes = document.querySelectorAll('input[name="instruments"]');
            allChecked = !allChecked;
            checkboxes.forEach(cb => cb.checked = allChecked);

            buttonchange();

            document.querySelector('button[onclick="toggleCheckboxes()"]').textContent = allChecked ? 'Uncheck All' : 'Check All';
    }
    </script>

    <center>
    <br><br>Written by Eddie Barry (RHIT ChE Class of 2022) and Dr. Dave
    <br><br>Redesigned by Andrew Sander (RHIT ChE Class of 2026) and Benjamin Homan (RHIT ChE Class of 2025)
    <br><br>Direct downloads are available at the /csv endpoint.
    </center>

{% endblock %}
